// @tailwind base;
// @tailwind components;
// @tailwind utilities;

$font-family: "DM Sans", sans-serif;

// colors variable
$primary-color: #0aa0eb;
$secondary-color: #2d3f4e;
$text-color: #2d3f4e;
$white-color: rgb(255, 255, 255);

// Variables for margin
$margin-xs: 0.5rem; // Extra small margin
$margin-sm: 1rem; // Small margin
$margin-md: 1.5rem; // Medium margin
$margin-lg: 2rem; // Large margin
$margin-xl: 3rem; // Extra large margin

// Variables for padding
$padding-xs: 0.5rem; // Extra small padding
$padding-sm: 1rem; // Small padding
$padding-md: 1.5rem; // Medium padding
$padding-lg: 2rem; // Large padding
$padding-xl: 3rem; // Extra large padding
$desktop-padding-section: 4rem; // Extra small padding

// Gap Variables
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 30px;
$gap-xl: 40px;

// Font sizes
$font-size-xs: 12px; // Extra small font size
$font-size-sm: 14px; // Small font size
$font-size-md: 16px; // Medium font size
$font-size-lg: 18px; // Large font size
$font-size-xl: 20px; // Extra large font size
$font-size-xxl: 24px; // Double extra large font size

// Font weights
$font-weight-light: 300; // Light font weight
$font-weight-regular: 400; // Regular font weight (default)
$font-weight-medium: 500; // Medium font weight
$font-weight-semibold: 600; // Semibold font weight
$font-weight-bold: 700; // Bold font weight
$font-weight-extra-bold: 800; // Extra bold font weight

$font-size-heading-xl: 90px; // Heading font size
$font-size-heading-lg: 70px; // Heading font size
$font-size-heading-md: 50px; // Heading font size
$font-size-heading-sm: 40px; // Heading font size
$font-size-description-lg: 19px; // Description font size
$font-size-description: 17px; // Description font size
$font-size-body: 14px; // Body text font size
$font-size-small: 12px; // Small text font size

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
}
