@import "./globals.scss";

.sectionPadding {
  padding: $desktop-padding-section;
}

@media (max-width: 992px) {
  .sectionPadding {
    padding: $padding-xl;
  }
}

@media (max-width: 768px) {
  .sectionPadding {
    padding: $padding-md;
  }
}
@media (max-width: 576px) {
  .sectionPadding {
    padding: $padding-sm;
  }
}
