@import "../../../styles/globals.scss";

.formControl {
  min-height: 60px;
  font-size: calc($font-size-sm + 1px);
  padding: calc($padding-sm - 3px);
  outline: none;
  width: 100%;
  background-color: $ash-color;
  border: none;
  font-family: $font-family;
  border-radius: 4px;
  height: 100%;

  &:focus {
    outline: 3px solid $primary-outline-color;
  }
}
