@import "../../../../styles/globals.scss";

.featureBullets {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  padding: $padding-sm 0px;
  width: 80%;
}

.bullet {
  gap: $gap-md;
  display: grid;
  grid-template-columns: 50px auto;
  // align-items: center;
}

.bullet:nth-child(even) {
  .iconWrapper {
    background-color: #2d3f4e3f;

    .icon {
      color: #2d3f4e;
    }
  }
}

.iconWrapper {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #0aa0eb3a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0aa0eb;
  width: 100%;

  .iconImageWrapper {
    position: relative;
    width: 65%;
    height: 65%;
  }
}

.bulletTitle {
  font-size: calc($font-size-xxl + 6px);
  color: $text-color;
}

.description {
  font-size: $font-size-md;
  color: $text-color;
  margin-top: $margin-xs;
}

@media (max-width: 768px) {
  .featureBullets {
    width: 100%;
  }
}
