@import "../../../../styles/globals.scss";

.featureBullets {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  padding: $padding-sm 0px;
  width: 80%;
}

@media (max-width: 768px) {
  .featureBullets {
    width: 100%;
  }
}
