@import "../../../../styles/globals.scss";

.contactUsForm {
  padding: $padding-xl;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
  font-size: calc($font-size-heading-sm - 5px);
  color: $text-color;
  margin-bottom: $margin-md;
  background: linear-gradient(
    90deg,
    rgba(0, 143, 215, 1) 0%,
    rgba(45, 63, 78, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
}

.twoByTwoGrid {
  display: grid;
  gap: $gap-sm;
  grid-template-columns: 1fr 1fr;
}

.buttonWrapper {
  margin-top: $margin-md;
}
