@import "../../../../styles/globals.scss";

.contactUsForm {
  padding: $padding-xl $desktop-padding-section;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: $white-color;
}

.title {
  font-size: calc($font-size-heading-sm - 5px);
  color: $text-color;
  margin-bottom: $margin-lg;
  opacity: 0.8;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
}

.twoByTwoGrid {
  display: grid;
  gap: $gap-lg;
  grid-template-columns: 1fr 1fr;
}

.buttonWrapper {
  margin-top: $margin-md;
}
