@import "../../../styles/globals.scss";

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(177, 174, 174, 0.422);
  padding: $padding-xl;
  border-radius: 8px;
}

.iconWrapper {
  margin-bottom: $margin-sm;
  border: 1px solid $secondary-color;
  padding: 10px;
  border-radius: 5px;
}
.icon {
  border-radius: 5px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.iconImage {
  width: 100%;
  object-fit: contain;
}

.title {
  font-size: $font-size-xxl;
  margin-bottom: $margin-sm;
}

.description {
  font-size: $font-size-description-lg;
  line-height: 1.4;
  margin-bottom: $margin-md;
}

@media (max-width: 576px) {
  .serviceCard {
    padding: $padding-md;
  }
}
