@import "../../../../styles/globals.scss";

.heading {
  font-size: $font-size-heading-md;
  padding: $padding-lg 0px;
}

.testimonialSectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-sm 0;
}
.testimonialContainer {
  display: flex;
}

.testimonialWrapper {
  > div {
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .testimonialWrapper {
    > div {
      margin-right: 0px;
    }
  }
}
