@import "../../../styles/globals.scss";

.navbar {
  position: relative;
  height: 90px;
  color: $secondary-color;
  padding: $padding-xs $padding-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .closeIcon {
    display: none;
  }

  .menuIcon {
    display: none;
  }
}

.logo {
  width: 150px;
  height: fit-content;
  object-fit: contain;
}

.navlink__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.navlink {
  padding: 8px 0px;
  position: relative;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: $primary-color;
  transition: width 0.3s ease;
}

.childNavlink__list__wrapper {
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: $white-color;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: $padding-md;
  min-width: 150px;
}

.navlink:hover .childNavlink__list__wrapper {
  display: block;
  opacity: 1;
  transform: translateY(0); /* Reset the transform */
}

.childNavlink__list {
  display: flex;
  flex-direction: column;
  gap: calc($gap-sm + 5px);
}

.childNavlink {
  list-style: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc($gap-sm - 5px);

  a {
    position: relative;
    text-decoration: none;
    color: $text-color;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: $primary-color;
      transition: width 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.childNavIcon {
  margin-top: 2px;
  font-size: $font-size-body;
}

.navlink:hover::after {
  width: 100%;
}

@media (max-width: 992px) {
  .navbar {
    width: 100%;
    position: absolute;
    z-index: 2;
    right: 0px;
    padding: $padding-sm;
    background-color: $white-color;

    .menuIcon {
      display: block;
    }
  }

  .logo {
    width: 130px;
  }

  .menuIcon {
    display: block;
    color: $primary-color;
  }

  .navlink__list {
    min-width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh !important;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: $padding-lg;
    background-color: $primary-color;
    transform: translateX(400px);
    z-index: 1;
    transition: all 300ms ease;
    display: none;
    opacity: 0;
    transform: translateX(400px);
    transition: all 300ms ease;
    min-width: 60vw;
    position: fixed;
    opacity: 0.9;

    .closeIcon {
      display: block;
      color: $white-color;
      position: absolute;
      top: 25px;
      right: 20px;
    }
    .navlink {
      color: $white-color;
    }
    button {
      background-color: $secondary-color;
    }
  }

  .navOpen {
    transform: translateX(0);
    display: flex;
    opacity: 1;
    transition: all 300ms ease;
  }
}
