@import "../../../styles/globals.scss";

.navbar {
  height: 90px;
  color: $secondary-color;
  padding: $padding-xs $padding-xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navlink__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

.navlink {
  padding: 8px 0px;
  position: relative;
  cursor: pointer;
  font-size: $font-size-lg;
  font-weight: $font-weight-medium;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: $primary-color;
  transition: width 0.3s ease;
}

.navlink:hover::after {
  width: 100%;
}
