@import "../../../styles/globals.scss";

.heading {
  font-size: $font-size-heading-lg;
  padding: $padding-lg 0px $padding-xl 0px;
  color: $secondary-color;
}

.sectionHeading {
  display: block;
}

.description {
  font-size: $font-size-xl;
  line-height: 1.6;
  width: 70%;
  margin-bottom: $margin-lg;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-sm 0;

  .description {
    text-align: center;
  }

  .heading {
    text-align: center;
  }
}

.smallHeading {
  .heading {
    padding: $padding-sm 0px $padding-sm 0px;
    font-size: $font-size-heading-md;
  }

  .description {
    font-size: $font-size-lg;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: $font-size-heading-md;
    padding: $padding-lg 0px;
  }

  .description {
    margin-bottom: $margin-md;
    width: 80%;
  }

  .smallHeading {
    .heading {
      font-size: $font-size-heading-sm;
    }
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: $font-size-heading-sm;
  }
  .description {
    width: 100%;
    font-size: $font-size-description;
  }

  .smallHeading {
    .heading {
      font-size: calc($font-size-heading-sm - 5px);
    }
  }
}
