@import "../../../../styles/globals.scss";
.heroSection {
  padding: $padding-sm $desktop-padding-section;
  min-height: calc(100vh - 90px);

  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
}

.infoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.heroHeading {
  font-size: $font-size-heading-xl;
  font-weight: $font-weight-bold;
  color: $secondary-color;
  line-height: 1.1;
}

.heroDescription {
  font-size: $font-size-description-lg;
  line-height: 1.6;
}

.imageSection {
  width: calc(100% - 30px);
  display: flex;
  justify-content: flex-end;
}

.heroImage {
  width: 85%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 1200px) {
  .heroHeading {
    font-size: $font-size-heading-lg;
  }

  .heroDescription {
    font-size: $font-size-description;
    line-height: 1.6;
  }
}
@media (max-width: 992px) {
  // .heroHeading {
  //   font-size: $font-size-heading-md;
  // }

  // .heroDescription {
  //   font-size: $font-size-description;
  //   line-height: 1.6;
  // }

  .heroSection {
    padding: $desktop-padding-section $padding-xl;
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
  }

  .infoSection {
    align-items: center;
    text-align: center;
  }

  .imageSection {
    justify-content: center;
  }

  .heroImage {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .heroImage {
    width: 80%;
  }

  .heroSection {
    padding: $desktop-padding-section $padding-md;
  }
}

@media (max-width: 576px) {
  .heroSection {
    padding: $padding-md $padding-sm;
  }

  .heroHeading {
    font-size: $font-size-heading-md;
  }
}
